$dark-color: #333E4B;
$peach-color: #DD7A62;
$light-peach-color: #FADDCD;
$green-blue-color: #B2C7C2;

html {
  height: 100%;
}

body {
    font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;

    .cocktail-name-field {

      .MuiFormLabel-root {
        color: $green-blue-color;
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 600;
        width: 70%;
      }

      .MuiFormControl-root:hover .MuiFormLabel-root {
        color: $peach-color;
      }

      .MuiFormLabel-root.Mui-focused {
        color: $peach-color;
      }

      .MuiFilledInput-root {
        background-color: white;
      }

      .MuiFilledInput-root:hover {
        background-color: white;
      }

      .MuiFilledInput-root.Mui-focused {
        background-color: white;
      }

      .MuiFilledInput-underline:before {
        border-bottom: 1px solid black;
      }

      .MuiFilledInput-underline:after {
        border-bottom: 2px solid $peach-color;
      }

      .MuiFormHelperText-root {
        color: #faddcd;
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 400;
      }

      .MuiFilledInput-adornedEnd {
        padding-right: 4px;
      }

      .MuiIconButton-root {
        color: $dark-color;
      }

      .MuiInputBase-root {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        color: $dark-color;
      }

    }

    .ingredient-name-list {
 
      .MuiFormLabel-root {
        color: $light-peach-color;
        font-size: 1rem;
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
      }

      .MuiInputBase-input {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        background-color: white;
        color: $dark-color;
      }

      .option-ingredient-list {
        height: 1.5em;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .option-ingredient-list:hover {
        background-color: $green-blue-color;
      }

      option.option-ingredient-list:checked {
        background: -ms-linear-gradient(left, $peach-color 100%, $peach-color 100%);
        background: -moz-linear-gradient(left, $peach-color 100%, $peach-color 100%);
        background: -o-linear-gradient(left, $peach-color 100%, $peach-color 100%);
        background: -webkit-linear-gradient(left, $peach-color 100%, $peach-color 100%);
        background: linear-gradient($peach-color, $peach-color);
        color: white;
        background-color: $peach-color;
        background-image: -webkit-linear-gradient(left, $peach-color 100%, $peach-color 100%);
      }

      label + .MuiInput-formControl {
        margin-top: 24px;
      }

      .MuiSelect-select[multiple] {
        height: 42.5vh;
        padding: 10px;
      }

      .MuiInput-underline:before {
        border-bottom: 1px solid black;
    }

      .MuiInput-underline:after {
        border-bottom: 2px solid $peach-color;
      }

    }

    .cocktail-field-search {
      .MuiTypography-body1 {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        color: $dark-color;
        background-color: $green-blue-color;
        font-style: italic;
      }
    }

    .noWrap {
      white-space: nowrap; 
      width: 190px; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }

    .one-drink {
      background-color: white;
      padding: 10px;
      margin: 5px 5px;
      width: 190px;
    }

    .one-drink:hover .h4-800 {
      color: $peach-color;
    }

    .one-drink a {
      text-decoration: none;
    }

    .overflow-hidden {
      overflow: hidden;
    }

    .diCaprio {
      font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 2em;
      color: $dark-color;
      margin: 1em 0;
      text-align: center;
    }

    .left-main {
      height: 100vh;
      background-color: $dark-color;
      padding: 2.7vh 3.3vw;

      h4 {
        color: $green-blue-color;
        line-height: 1.5;
        margin-bottom: 10px;
      }
    }

    .left-slide-mobile {
      display: none;
      padding: 5px;
    }

    .left-slide-desktop {
      display: block;
    }

    .label-text {
      display: none;
    }

    .right-main {
      height: 100vh;
      overflow-y: scroll;
      background-color: $light-peach-color;
      padding: 2.7vh 3.3vw;

      h1 {
        font-weight: 900;
        font-size: 3.5em;
        color: $peach-color;
        margin-top: 0em;
      }

      h4, .drinks-word {
        font-weight: 500;
        color: $dark-color;
        margin-bottom: 0.1em;
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
      }

      .h4-800 {
        font-weight: 800;
      }

      .margin-l {
        padding-left: 2.7vw;
      }

      .ingredient-description-title {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 5vw;
        line-height: 1;
        color: $peach-color;
      }

      .ingredient-description-body {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        color: $dark-color;
        line-height: 1.5;
      }

      .MuiButton-sizeLarge {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        color: white;
        border: 1px solid rgb(255, 255, 255);
      }

      .MuiPaper-elevation1 {
        box-shadow: none;
      }

      .MuiPaper-root {
        background-color: $light-peach-color;
        border-bottom: 1px solid $dark-color;
        margin-bottom: 3.3vh;
      }

      .MuiExpansionPanel-rounded:last-child {
        border-bottom-left-radius: 0; 
        border-bottom-right-radius: 0; 
      }

      .MuiExpansionPanel-root.Mui-expanded:last-child {
        margin-bottom: 3.3vh;
      }

      .MuiBadge-colorPrimary {
        color: #fff;
        background-color: $peach-color;
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
      }

      .MuiExpansionPanelSummary-root {
        padding: 0 24px 15px 24px;
      }

      .ingredients-list-flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row; 
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
      }

      .wrap    { 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      } 
      
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  h4.margin-t {
    margin-top: 0;
  }

  img.margin-b-20 {
    margin-bottom: 20px;
  }

  body .right-main .margin-l {
    padding-left: 0;
    margin-bottom: 20px;
  }

  body .right-main .ingredient-description-title {
    font-size: 10vw;
  }

  body .ingredient-name-list .MuiSelect-select[multiple] {
    height: 31vh;
  }

  body .left-slide-mobile {
    display: block;
  }

  body .left-slide-desktop {
    display: none;
  }

  body .sandwich {
    .MuiButton-text {
      color: $light-peach-color;
      padding: 6px 5px;
    }

    .MuiSvgIcon-root {
      font-size: 1.8rem;
      min-width: 30px;
    }

    .MuiButton-label {
      justify-content: normal;
    }

    .MuiButton-root {
      min-width: 30px;
      display: flex;
      margin: 0 auto;
    }
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  body .label-text {
    display: block;
  }

  body .ingredient-name-list .MuiSelect-select[multiple] {
    height: 38vh;
  }

  body .cocktail-name-field .MuiFormLabel-root {
    display: none;
  }

  body .right-main .ingredient-description-title {
    font-size: 7vw;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body .cocktail-name-field .MuiFormLabel-root {
    font-size: 14px;
  }

  body .right-main .ingredient-description-title {
    font-size: 7vw;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}